# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
#APP_ENV=dev or prod
APP_ENV=

#APP_SECRET => Command: symfony console secrets:generate-key
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL Examples:
# Sqlite:
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"

# MySql:
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=X.X.X&charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=X.X.X-MariaDB&charset=utf8mb4"
# DATABASE_URL="mysql://UserName:Password@127.0.0.1:3306/DatabaseName?serverVersion=X.X.X&charset=utf8mb4"
# DATABASE_URL="mysql://UserName:Password@URL:3306/DatabaseName?serverVersion=X.X.X&charset=utf8mb4"
DATABASE_URL=

#PostgresSQL:
#DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
#DATABASE_URL="postgresql://UserName:Password@127.0.0.1:5432/DatabaseName?serverVersion=X&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
# MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MESSENGER_TRANSPORT_DSN=

###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=smtp://localhost:1025                      # On Windows work with programm MailHog_windows_386.exe
# MAILER_DSN=smtp://UserName%40URL:Password@URL:Port    # With a hosting provider
MAILER_DSN=
###< symfony/mailer ###

#Password size for users. For local use only, password size may be smaller
MDP_MIN="10"
MDP_MAX="25"


#Normally, the following constants do not need to be changed
# Default party name
CONST_NOM_LONGUEUR_PARTIE_PAR_DEFAUT="Partie par défaut"

# Default literary genre
CONST_GENRE_LITT_PAR_DEFAUT="Libre"

# Constants for different parts of a game
CONST_ETAT_PARTIE__EN_COURS="En cours"                              # In progress
CONST_ETAT_PARTIE__TERMINEE="Terminée"                              # Completed
CONST_ETAT_PARTIE__EN_COURS_DE_CONNEXION="En cours de connexion"    # Connection in progress
CONST_ETAT_PARTIE__ABANDONNEE="Abandonnée"                          # Abound

# A game has several proof. Constants for the different states of a proof
CONST_ETAT_EPREUVE__VA_DEMARRER="Va démarrer"                   # We wait for the start of a proof
CONST_ETAT_EPREUVE__EN_COURS="En cours"                         # we play
CONST_ETAT_EPREUVE__NOTATION_VA_DEMARRER="Notation va démarrer" # We wait for the start of a notation
CONST_ETAT_EPREUVE__NOTATION_DEMARREE="Notation démarrée"       # We note
CONST_ETAT_EPREUVE__NOTATION_TERMINEE="Notation terminée"       # We wait the creation of a new proof
CONST_ETAT_EPREUVE__ABANDONNEE="Abandonnée"                     # Abound

# Margin in seconds between the different phases of a proof (proof, notation, next proof)
DUREE_TRANSITION=10

# Time before information in waiting room is refreshed
DUREE_AVANT_RAFRAICHISSEMENT_INFO_SALLE_ATTENTE=3
