 

  <!-- Modal dédiée au Twig toutNoter.html.twig -->
  <div class="modal fade" id="NoterModale" tabindex="-1" role="dialog" aria-labelledby="modalToutNoter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Informations sur la partie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ varInfoSurPartie|raw }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
          
        </div>
      </div>
    </div>
  </div>

