<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# Pour les mobiles modernes (grande résolution, ajuste la largeur pour que ça reste lisible!)  #}
        <title>{% block title %}Le Jeu Des Ecrivains{% endblock %}</title>
       
        {#bootstrap#}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <script src="https://kit.fontawesome.com/99d6a7f372.js" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.3/purify.min.js"></script> <!-- Suppression du code malveillant en HTML (pour modale modal.html.twig de crer.html.twig)-->
        

        {% block stylesheets %}
            <link rel="stylesheet" href=" {{ asset('styles/base.css') }}">
        {% endblock %}

        {#Si on veut rafraichir automatiquement la page (voir Twig demarrage.html.twig#}
        {% block rafraichissementAuto %}
        {% endblock %}


        {% block javascripts %}
            {% block importmap %}
                {# https://symfony.com/doc/current/frontend/asset_mapper.html #}
            {% endblock %}
                       
        {% endblock %}
    </head>
    <body>
        <header class="py-4 ">  
            {% block navbar %}
                {% include 'partials/nav.html.twig' %}
            {% endblock %}
        </header>

        <main class="py-5"> 
            {% include 'home/partials_regles/modal_regles.html.twig' %}
        
            <div class="container my-4">
                <div class="row ">
                    {% include('partials/flash.html.twig') %}
                </div>
              
                <div class="row my-4 ">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>

    </body>

    <footer class="border-top">
        <div class="container py-5">
            <div class="row gy-4 align-items-center">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand  footer-texte-logo" href="#">
                        Le Jeu Des Ecrivains
                    </a>
                </div>

                <div class="col-12 col-md-4 text-md-center">
                    <ul class="list-unstyled mb-0 ">
                       
                        <li class="navbar-brand">
                            Réalisé par: 
                            <span class="footer-texte-logo">Thierry Kriebs</span>
                        </li>
                    </ul>
                </div>

                 <div class="col-12 col-md-4 text-md-center">
                    <ul class="list-unstyled mb-0 ">
                        <li>
                            <a href="#" class="text-decoration-none footer-texte " data-bs-toggle="modal" data-bs-target="#ModalMensionLegale" >Mentions légales</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none footer-texte " data-bs-toggle="modal" data-bs-target="#ModalReglesDuJeu" >Règles du jeu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ModalMensionLegale" tabindex="-1" aria-labelledby="ModalMensionLegale" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content footer-modale">
                    <div class="modal-header">
                        <h5 class="modal-title" id="idTitreModalMentionLegale">Liste des mentions légales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Ce document n'est encore qu'une ébauche.</p>
                        <h5>1. Éditeur du site</h5>
                        <p>Nom du site : lejeudesecrivains.fr</p>
                        <p>Éditeur : Site d'un particulier, gratuit et libre</p>
                        <p>Siège social : Aucun</p>
                        
                        <h5>2. Hébergeur du site</h5>
                        <p>Nom de l’hébergeur : OVH</p>
                        <p>Adresse : 9 Rue du Bass. de l'Industrie, 67000 Strasbourg</p>
                        <p>Site web (de l'hébergeur) : https://www.ovh.com/</p>

                        
                        <h5>3. Propriété intellectuelle</h5>
                        <p>L’ensemble des contenus présents sur ce site (textes, images, logos, vidéos, etc.) est protégé par le droit d’auteur et la propriété intellectuelle. 
                           Toute reproduction, distribution, modification ou utilisation sans autorisation préalable est interdite.</p>

                        
                        <h5>4. Responsabilité</h5>
                        <p>L’éditeur du site s’efforce d’assurer l’exactitude et la mise à jour des informations publiées. 
                         Toutefois, il ne peut être tenu responsable des erreurs ou omissions, ainsi que des éventuels dommages résultant de l’utilisation du site.</p>

                        <h5>5. Données personnelles & Cookies</h5>
                        <p>Le site peut collecter des données personnelles (via formulaires de contact, cookies, etc.).</p>

                        <p>Finalité : Les données collectées sont utilisées uniquement pour ce jeu. Elles ne sont pas transmises à des tierces.</p>
                        <p>Droit des utilisateurs : Conformément au RGPD et à la loi Informatique et Libertés, vous disposez d’un droit d’accès, de rectification et de suppression de vos données. 
                        Vous pouvez exercer ces droits en nous contactant à : administrateur.messagerie@lejeudesecrivains.fr</p>
                        <p>Cookies : Le site peut utiliser des cookies pour améliorer l’expérience utilisateur. Vous pouvez gérer vos préférences via les paramètres de votre navigateur.</p>
                        
                        
                        <h5>6. Droit applicable</h5>
                        <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du siège social de l’éditeur.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>