 

  <!-- Modal dédiée aux règles du jeu -->
  <div class="modal fade" id="ModalReglesDuJeu" tabindex="-1" role="dialog" aria-labelledby="idTitreModalRèglesDuJeu" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content footer-modale">
              <div class="modal-header">
                  <h5 class="modal-title" id="idTitreModalRèglesDuJeu">Règles du jeu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Ce document n'est encore qu'une ébauche.</p>
                  <h5>Créez-vous un compte ou connectez-vous</h5>
                  <p>Utilisez pour cela le menu principal.</p>
                                          
                  <h5>Créez une partie ou rejoignez une partie</h5>
                  <p>Utilisez pour cela le menu principal.</p>
                  <p>Lors de la création d’une partie, vous pourrez choisir le genre littéraire ainsi que le nombre d’épreuves à réaliser.</p>

                  
                  <h5>Les parties</h5>
                  <p> Le jeu est segmenté en épreuves de temps limité. Tous les joueurs réalisent la même épreuve, en même temps.</p>
                  <p> Chaque épreuve correspond à un exercice bien précis, qu’il faudra réaliser en un temps donné.</p>
                  <p> Exemples : « Décrire le personnage principal », « Ecrire une scène d’action »... </p>
                  <p> Les épreuves sont choisies au hasard par le système. </p>
                  <p> A la fin de chaque épreuve, les joueurs devront lire et noter (de 1 à 20) les exercices réalisés par les autres joueurs. </p>
                  <p> Une fois toutes les épreuves réalisées et notées, le classement s’affichera. Le joueur qui aura obtenu le plus de points gagnera. </p>

                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
          </div>
      </div>
  </div>